body {
    font-size: 20pt;
    max-width: 100%;
    background: linear-gradient(to top right, #f5f5f5, #f9efff);
}

html{
    font-family: quintessential;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(to left, rebeccapurple, black);
    color: white;
}

a{
    color: rebeccapurple;
}
.testo{
    width: 100%;
}

.foto{
    max-width: 15%;
    height: auto;
}

.normativa{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.dati, .esperienze, .certificazioni{
    border-bottom: 3px solid rebeccapurple;
    border-left: 10px solid rebeccapurple;
    border-bottom-left-radius: 10%;
    padding-left: 5px;
    display: block;
    border-top: none;
}

h2{
    font-weight: 1000;
    font-family: quantico;
    border-bottom: 3px solid rebeccapurple;
    margin: 0 auto;
}

.formazione, .skill, .progetti{
    border-bottom: 3px solid rebeccapurple;
    border-right: 10px solid rebeccapurple;
    border-bottom-right-radius: 10%;
    padding-left: 5px;
    display: block;
}

ul.scuola{
    list-style: none;
    padding-left: 0;
}

ul.scuola li{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:
        "bullet titolo"
        "bullet dettagli";
    column-gap: 10px;
}

ul.scuola li::before{
    content: attr(pr-sc);
    font-weight: bold;
    grid-area: bullet;
    color: #333;
}

ul.scuola .titolo{
    grid-area: titolo;
    font-weight: bold;
}

ul.scuola .dettagli{
    grid-area: dettagli;
}

.azienda, .exp{
    font-weight: bold;
}

.descrizione{
    border-bottom: 2px solid black;
}

.tabelleSkill{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1rem 3.5rem 1rem 1rem;
    max-width: 100%;
}

.abilità{
    border-collapse: collapse;
    margin-right: auto;
}

.certificati{
    border-collapse: collapse;
    margin: 1rem 1rem 1rem 1rem;
}

.lingue{
    border-collapse: collapse;
    margin-left: auto;
}

.tAb{
    border: 3px solid rebeccapurple;
    padding: 0.3rem;
    background-color: #dFdFdF;
}

@media(max-width: 600px){
    body{
    font-size: 13pt;
    }
    .normativa{
        font-size: 3pt;
    }
    .tabelleSkill{
        overflow-x: auto;
    }
}